@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

header {
    padding: 15px 52px;
    background-color: #fff;
    border-bottom: 0.5px solid rgba(86, 178, 127, 0.2);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

a:link,
a:visited {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: 500;
    color: #4a1d1f;
    letter-spacing: 9%;
    margin-right: 231px;
}

.headerNavigation {
    max-width: 450px;
    font-size: 16px;
    margin-right: 95px;
}

.headerNavigation ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
}

.headerNavigation a:link,
.headerNavigation a:visited {
    color: #272727;
}

#currentPage {
    font-weight: 500;
    color: #4a1d1f;
}

.headerUtilities {
    display: flex;
    align-items: center;
    gap: 31px;
    font-size: 28px;
}

.searchBar {
    display: flex;
    align-items: center;
    height: fit-content;
}

.searchBar input {
    border: 0.5px solid #4a1d1f;
    font-size: 16px;
    padding: 10px 17px;
    max-width: 251px;
    outline: none;
}

.searchBar button {
    background-color: #4a1d1f;
    color: #fbedcd;
    border: none;
    height: 45.5px;
    padding: 10px;
    font-size: 19px;
    aspect-ratio: 1 / 1;
}

.headerUtilities a:link,
.headerUtilities a:visited {
    color: #4a1d1f;
}

.cart {
    position: relative;
}

.cartItemCount {
    display: block;
    width: 11px;
    height: 11px;
    font-size: 10px;
    font-weight: 500;
    background-color: #4a1d1f;
    color: #fbedcd;
    text-align: center;
    padding: 1px;
    line-height: 11px;
    border-radius: 100%;
    position: absolute;
    left: 78%;
    bottom: 70%;
}

.introSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 91px;
}

.introSection .textContainer {
    max-width: 530px;
    font-size: 24px;
}

h1 {
    color: #4a1d1f;
    font-weight: 700;
    font-size: 44px;
}

.introSection button {
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 48px;
    cursor: pointer;
}

.orderBtn {
    background-color: #4a1d1f;
    color: #fbedcd;
    border: none;
}

.seeMenuBtn {
    background-color: transparent;
    border: 1px solid #4a1d1f;
    color: #4a1d1f;
    margin-left: 16px;
}

.introSection img {
    width: 729px;
}

.cakesDisplay {
    padding: 35px 65px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    color: #4a1d1f;
    position: relative;
    bottom: 55px;
    left: 29%;
}

.cakesDisplay img {
    width: 230px;
    height: 129px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
}

.backgroundGradient {
    width: 1020px;
    height: 1020px;
    border-radius: 100%;
    background-color: #fbedcd;
    opacity: 0.8;
    left: 40%;
    filter: blur(240px);
    position: absolute;
    z-index: -1;
}
